
.input-paciente{
    border: 2px solid rgb(212, 212, 212)!important;
    border-style: none;
}

.input-paciente:focus{
    box-shadow: none;
    outline: 2px solid #6CC3D5;
}

.contenedor-paciente{
    background-color: #f4fcfd;
}

@media (max-width: 576px) {
    .contenedor-paciente{
        background-color: white;
        border: none!important;
    }
}