.logo-alineado {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; 
}

.logoFooter {
    width: 60px; 
    height: 60px;
    margin-right: 0.75rem; 
    margin-bottom: 0 !important;
}

.border-top {
    border-color: #78c2ad !important;
}

.text-dark {
    color: #212529 !important;
}