.vet-section-wrapper {
    position: relative; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding-bottom: 50px; 
}

.vet-background-bar {
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: #6a806a; 
    bottom: 0;
    left: 0;
    border-radius: 20px;
    z-index: 0;
}


.vet-image-frame {
    width: 90%; 
    max-width: 800px; 
    background-color: #6a806a; 
    padding: 3px; 
    border-radius: 10px;
    z-index: 1;
}

.vet-image-content {
    width: 100%; 
    height: auto;
    display: block;
    border-radius: 8px
}

.logo-row {
    border-top: 1px solid #eee;
    padding: 20px 0;
}

.logo-wrapper {
    
    height: 80px;
    width: 100%;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    max-height: 100%; 
    max-width: 100%;
    object-fit: contain; 
}


.servicesSectionText {
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    color: #6a806a;
}

.service-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}