
.navbar-base {
    background-color: white !important;
    z-index: 1000; 
    box-shadow: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.navbar-base.scrolled {
    background-color: rgba(255, 255, 255, 0.95) !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.integrado-central-links {
    /* Fondo transparente, sin blur ni borde */
    background-color: transparent !important;
    border-radius: 0 !important;
    padding: 0 !important;
    backdrop-filter: none !important;
}

/* Estilos de los links en estado flotante (scrolled) - EL BLUR */
.flotante-central-links {
    /* 2. El Rectángulo Flotante con Blur */
    background-color: rgba(255, 255, 255, 0.4) !important; 
    border-radius: 50px !important; 
    padding: 0.5rem 2rem !important;
    
    /* PROPIEDAD CLAVE: El desenfoque */
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Transición suave para el rectángulo */
}

.img-error404 {
  width: 75%;
  height: auto;
  max-width: 600px;
  max-height: 600px;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .img-error404 {
    width: 100%;
  }
}

.titulo {
  font-size: 2.2rem;
}

.card-sobreNosotros{
    border: 2px groove;
}

.img-card-sobreNosotros{
    width: 300px;
    height: auto;
}
